#cardapio{
    background-color:#ffff;
    height: 100vh;
    width: 100vw;
    border: 30px solid  #490909;
    padding: 1rem 3.3rem;
    display: flex;
    flex-direction: column;
}

.cardapio-title-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardapio-title{
    font-family:'Dancing Script', cursive;
    font-size: 96px;
}

.cardapio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    
}
.produtos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    flex-grow: 1;

}
#conteudo-container-pizza{
    margin-bottom: 10px;
    border-left: 2px  solid #000;
    border-right: 2px solid #000;

}

.conteudo-container {
  flex-grow: 1;

}

.card-name {
    font-size: 30px;
    font-family: mulish;
    color: #000;
    font-weight: bolder;
}



body{
    display: flex;
  }
  
  
  .card{
    margin-top: 35px;
    display: flex;  
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 52px;
    width: 325px;
    transition: 0.5s;
    overflow: hidden;
  }
  
  .card:hover{
    height: 197px;
  }
  .header-card{
    display: flex;
    justify-content: space-between;
    margin: 15px 25px ;
  
  }
  
  .title-produto{
   color: #000;
   font-family: mulish;
  }
  

  .price-produto{
    font-family: mulish;
    font-weight: bolder;
    color: #000
    
  }
  
  .produto-content{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
  }
  .ingredientes{
    color: #000;
    font-family: mulish;
    font-size: 12px;
  }
  
  .image-pizza-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .image-pizza-content img{
    width: 100%;
    height: 100%;
  
  }
  