html, body{
  height: 100vh;
  width: 100vw;
}

body{
  background-image: url("../images/pizzaimagedois.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content{
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
  font-family: mulish;
}

p{
  font-family: mulish;
}
label{
  font-family: mulish;
}

.left-container {
}

.logo-container {
}

.logo-container img {
  width: 300px;
}

.name-title {
  display: flex;
  justify-content: center;
  padding: 7%;
  border-top: 3px solid white;
}

.name-title h1 {
  width: 200px;
  font-size: 50px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.login-form-container {
  height: 400px;
  width: 300px;
  border-radius: 20px;
  background: rgba(9, 9, 9, 0.233);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  border: 1px solid rgba(9, 9, 9, 0.04);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8%;
}

.disclaimer{
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 2px solid white;
}

.disclaimer span{
    color: red;
}

.login-form-content div h2{
    margin-bottom: 25px;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-container input{
    border-radius: 10px;
    height: 30px;
    padding: 5%;
    color: black;
}

.login-submit{
    display: flex;
    justify-content: flex-end;
}

.login-submit div{
    display: flex;
    flex-direction: column;
}

.login-submit div button{
    height: 40px;
    width: 90px;
    background-color: red;
    font-size: 20px;
    border-radius: 10px;
}