

.dashboard-body{
  background-image: url(../images/pizzaslice.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
 .product-title-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.688rem;
  width: 61.25rem;
  background-color: #FFF1D4;
  border: 2px solid red;
  border-radius: 20px;
  margin-bottom: 33px;
 }

 .product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  height: 35.375rem;
  width: 67.438rem;
  border-radius: 20px;
  border: 2px solid red;
  background-color: #FFF1D4;

 }

.product-content{
  display: flex;
  background-color: aquamarine;
  height: 370px;
  width: 403px;
}





