

.dashboard-body{
  background-image: url(../images/pizzaslice.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

main{
  display: flex;
}
 .product-title-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.688rem;
  width: 61.25rem;
  background-color: #FFF1D4;
  border: 2px solid red;
  border-radius: 20px;
  margin-bottom: 33px;
 }

 .product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  height: 35.375rem;
  width: 67.438rem;
  border-radius: 20px;
  border: 2px solid red;
  background-color: #FFF1D4;
 }




.product-content.scroll {

  height: 468px;
  width: 100%;
  overflow-y: auto;
  text-align: center;
  justify-content: center;
  margin: 70px;


}

.product-content.scroll::webkit-scrollbar {
  display: none;
}
.classe::webkit-scrollbar {
  background-color: red;
}
.classe::webkit-scrollbar-thumb {
  background-color: red;
}


/* Pizza-card */

.mini-card-product-pizza{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 129px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid red;
}

.title-pizza-container{
  display: flex;
  justify-content: center;
}

.mini-card-content-product-pizza{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  gap: 20px;
}

.title-mini-card-product-pizza{
  font-family: mulish;
  color: red;
}

.ingredientes-representation-product-pizza{
  font-family: mulish;
}

.ingredientes-components-product-pizza{
  font-family: mulish;
}

.preco-product-pizza{
  font-family: mulish;
  color: red;
}

.container-mini-card-image-product-pizza{
  border-radius: 5px;
  border:2px solid red;
  height: 80px;
  width: 126px;
}

.container-mini-card-image-product-bebida{
  border-radius: 5px;
  border:2px solid red;
  height: 94px;
  width: 85px;
}

.price-container-product-pizza{
display: flex;
justify-content: flex-end;
margin-top: 20px;
}


.mini-card-container-informations-product-pizza{
border-left: 2px solid red;


}

.mini-card-content-information-product-pizza{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.product-name-content{
 width: 490px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.central-line{
  display: inline-block;
  background-color: red;
  height: 80%;
  width: 4px;
}

.product{
  color: red;
  font-family: mulish;
}


.button-container{

  display: flex;
  justify-content: space-between;
  height: 3.688rem;
  width: 61.25rem;
  margin-top: 30px;
}

.button-content{
  width: 490px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-submit div button{
  height: 40px;
  width: 90px;
  background-color: red;
  font-size: 20px;
  border-radius: 10px;
}

.add-button {
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 20px;
  color: white;
  border: none;
  font-family: 'Mulish', sans-serif;
  font-size: 1.5rem;
}