#Promocoes-pizzaiolas{
    background-color: #FFF1D4;
    height: 100vh;
    width: 100vw;
}

.wave-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.promocao-container {
    padding: 0 10rem;
}

.promocao {
    width: 100%;
}

.produtos-combo-nome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    font-weight: 1000;
    position: absolute;
    left: 0;
    right: 0;
}

.produtos-combo-nome span:nth-child(1) {
    transform: translateX(-4rem);
    color: red;
    font-size: 3rem;
}

.produtos-combo-nome span:nth-child(2) {
    transform: translateX(-3rem);
    color: red;
    font-size: 3rem;
}

.produtos-combo-nome span:nth-child(3) {
    transform: translateX(0);
    color: #991111;
    font-size: 3rem;
}

.produtos-combo-nome span:nth-child(4) {
    transform: translateX(1rem);
    color: red;
    font-size: 3rem;
}

.produtos-combo-nome span:nth-child(5) {
    transform: translateX(2rem);
    color: red;
    font-size: 3rem;
}

.combo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    flex-direction: row-reverse;
    
}

.combo-container:nth-child(2){
    display: flex;
    flex-direction: row;
    border-top: 2px solid #EF0F0F;
}



.combo-container:nth-child(2) span:nth-child(1) {
    transform: translateX(2rem);
}

.combo-container:nth-child(2) span:nth-child(2) {
    transform: translateX(1rem);
}

.combo-container:nth-child(2) span:nth-child(3) {
    transform: translateX(0);
}

.combo-container:nth-child(2) span:nth-child(4) {
    transform: translateX(-3rem);
}

.combo-container:nth-child(2) span:nth-child(5) {
    transform: translateX(-4rem);
}



.preco-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

span.sinal-igual {
    font-size: 20rem;
    font-weight: 900;
    color: red;   
}

span.sifra{
    font-size: 3rem;
    font-weight: 1000;
    font-family: 'Mulish';
    color:#FAAA11;
}

span.preco{
    font-size: 10rem;
    font-weight: 1000;
    font-family: 'Mulish', sans-serif;
    color:#FAAA11;
}
